body {
    overflow: hidden;
}
#jamendo-bar{
    margin: 0 auto;
    width: 70%;
    background: url("../img/bg.png") no-repeat scroll -19px transparent;
    color: #FFF;
    height: 72px;
}
#tags a{
    text-decoration: none;
    color: #FFF;
}
#search-bar {
    margin-bottom: 10px;
}
#now-playing-label{
    font-weight: normal;
    font-size: 10px;
    color: #FFF;
}
#tags{
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 35px;
}
.jam-search{
        width: 200px;
        background: none;
        border: 1px solid #B3B27B;
        color: #FFF;
        margin-bottom: 3px;
}
.empty-album{
    width: 50;
    height: 50;
    float: left;
    background: url("../img/empty_album_image.png");
}
#jp-playlist{
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
#result-list a{
    text-decoration: none;
    color: #fff;
}
#result-list{
    position: relative;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 97%;
}
/*
#result-list-push{
    position: relative;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 97%;
    height: 33px;
}
*/
#result-list li{
    padding: 2px;
}
#result-list li:last-child{
    margin-bottom: 33px;
}
.track-info img{
    float: left;
    margin-right: 5px;
    clear: left;
}
.result-links{
    /*color: #FFF;*/
    text-decoration: none;
}
/*
#search-bar{
    margin: 30px 0 0 15px;
    float: left;
}
*/
#tag-button {
    font-size: 12px;
    float: left;
    padding: 0 3px;
}
/*
#tag-button > a {
    display: block;
    background-image: url("../img/retag.png");
    width: 32px;
    height: 32px;
}
*/
.confirm {
    display: block;
    background-image: url("../img/confirm.png");
    width: 32px;
    height: 32px;
}
.tag {
    display: block;
    background-image: url("../img/tag.png");
    width: 32px;
    height: 32px;
}
.retag {
    display: block;
    background-image: url("../img/retag.png");
    width: 32px;
    height: 32px;
}
.in-progress {
    display: block;
    background-image: url("../img/loading.gif");
    width: 32px;
    height: 32px;
}
.tag-none {
    display: none;
    width: 32px;
    height: 32px;
}

/*
#confirm{
    margin-left: 5px;
}*/
#player{
    float: right;
}
.bordered-div-up-border-srch{
    position: relative;
    background: url("../img/border-up.png") no-repeat;
    width: 200px;
    height: 2px;
    top: 5px;
}
.bordered-div-up-border{
    position: relative;
    background: url("../img/border-up.png") no-repeat;
    width: 200px;
    height: 2px;
    /*top: 5px;*/
    top: 4px;
}
.bordered-div-down-border{
    position: relative;
    background: url("../img/border-down.png") no-repeat;
    width: 200px;
    height: 2px;
    top: 2px;
    /*bottom: 3px;*/
}
#jamendo-search-results{
    display: none;
    width: 200px;
    font-size: 9px;
    color: #fff;
    /*margin: 3px 0;*/
    margin-bottom: 15px;
}
#now-playing{
    position: relative;
    display: none;
}
#tagging {
    position: relative;
    display: none;
    margin-bottom: 15px;
}
#tagging-div {
    position: relative;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    min-height: 42px;
    width: 195px;
    font-size: 9px;
    color: #fff;
    top: 3px;
    padding: 2px;
}
#tagging-info {
    float: left;
    /*height: 42px;*/
    min-height: 42px;
    width: 160px;
    vertical-align: middle;
}
#tagging-control {
    float: right;
    height: 35px;
    width: 35px;
}
#now-playing-div {
    position: relative;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    min-height: 63px;
    max-height: 70px;
    width: 195px;
    font-size: 9px;
    color: #fff;
    top: 3px;
    padding: 2px;
}
#scrollbar1 {
    position: relative;
    top: 4px;
    width: 200px;
    clear: both;
    /*max-height: 250px;
    min-height: 25px;*/
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
#scrollbar1 .viewport { 
    width: 100%;
    overflow: hidden; 
    position: relative;
    max-height: 250px;
    min-height: 0px;
}
#scrollbar1 .overview { 
    position: relative; 
    float: left;
    left: 0; 
    top: 0;
    width: 97%;
    padding: 0;
}
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { 
    /*background-color: rgb(156, 80, 155); */
    background: url("../img/scroll-thumb.png") repeat-y;
}
#scrollbar1 .scrollbar { 
    position: relative; 
    /*height: 200px;*/
    float: right;
    padding-top: 1px;
    padding-bottom: 3px;
    /*right: 0px;*/
    width: 8px; 
    z-index: 1;
}
#scrollbar1 .track { 
    /*background-color: rgb(94, 86, 101); */
    background: url("../img/scroll-background.png") repeat-y;
    /*height: 200px; */
    width:7px; 
    position: relative; 
    /*padding: 0 1px; */
}
#scrollbar1 .thumb { 
    height: 20px; 
    width: 4px; 
    cursor: pointer; 
    overflow: hidden; 
    position: absolute; 
    top: 0; 
    left: 2px;
}
#scrollbar1 .thumb .end { 
    overflow: hidden; 
    height: 5px; 
    width: 4px; 
}
#scrollbar1 .disable{ 
    display: none; 
}
.noSelect { 
    user-select: none; 
    -o-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
}
