body {
    overflow: hidden;
}
#jamendo-bar{
    margin: 0 auto;
    width: 70%;
    background: url("../img/bg.png") no-repeat scroll -19px transparent;
    color: #FFF;
    height: 72px;
}
#tags a{
    text-decoration: none;
    color: #FFF;
}
#search-bar form{
    margin: 0;
}
#tags{
    margin-bottom: 25px;
}
.jam-search{
        width: 200px;
        background: none;
        border: 1px solid #B3B27B;
        color: #FFF;
        margin-bottom: 3px;
}
#jamendo-search-results{
    width: 200px;
    font-size: 9px;
    color: #fff;
    margin: 15px 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
#jp-playlist{
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
#result-list a{
    text-decoration: none;
    color: #fff;
}
#result-list{
    list-style: none;
    /*float: left;*/
    width: 200px;
    padding: 0;
    border: 1px solid #000;
}
#result-list li{
    padding: 2px;
}
.track-info img{
    float: left;
    margin-right: 5px;
    clear: left;
}
.result-links{
    /*color: #FFF;*/
    text-decoration: none;
}
/*
#search-bar{
    margin: 30px 0 0 15px;
    float: left;
}
*/
#tag-button, #confirm{
    font-size: 12px;
    float: left;
    padding: 0 3px;
    border: 1px solid #B3B27B;
}
#tag-button > a {
    display: block;
    background-image: url("../img/tag.png");
    width: 32px;
    height: 32px;
}
#confirm > a {
    display: block;
    background-image: url("../img/tag.png");
    width: 32px;
    height: 32px;
}
#confirm{
    margin-left: 5px;
}
#player{
    float: right;
}
/*
.sdbar { width: 520px; clear: both; margin: 20px 0 10px; }
.sdbar .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
.sdbar .overview { list-style: none; position: absolute; left: 0; top: 0; }
.sdbar .thumb .end,
.sdbar .thumb { background-color: #003D5D; }
.sdbar .scrollbar { position: relative; float: right; width: 15px; }
.sdbar .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
.sdbar .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.sdbar .thumb .end { overflow: hidden; height: 5px; width: 13px; }
.sdbar .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
*/