<% can.$.each(can.$(urls).attr('content').tracks, function(i, track) { %>
  <p><%= can.$(track).attr('id') %></p>
  <p><%= can.$(track).attr('name') %></p>
  <p><%= can.$(track).attr('artist_name') %></p>
  <p><%= can.$(track).attr('audio') %></p>
<% } ) %>